.filter {
  align-self: self-start;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .102);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;

  &__title {
    font-size: inherit;
    font-weight: 650;
    letter-spacing: .5px;
    line-height: 12px;
    text-transform: uppercase;
  }

  &__ul {

  }

  &__li {
    list-style: none;
  }

  &__label {
    padding: 10px 0;
  }

  &__input, &__input:not(:checked) {
    margin: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
    font-size: 13px;
    line-height: 20px;

    &:checked + span, &:not(:checked) + span {
      display: inline-block;
      position: relative;
      padding-left: 28px;
      line-height: 20px;
      cursor: pointer;
    }


    &:checked + span::before, &:not(:checked) + span::before {
      content: '';
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background-color: #ffffff;
      border-radius: 5px;
    }

    &:checked + span::before {
      border: 1px solid #2196f3;
    }
    &:not(:checked) + span::before {
      border: 1px solid #9abbce;
    }

    &:checked + span::after, &:not(:checked) + span::after {
      content: '';
      position: absolute;
      left: 4px;
      top: 50%;
      width: 12px;
      height: 6px;
      border-radius: 1px;
      border-left: 3px solid #2196f3;
      border-bottom: 3px solid #2196f3;
      transform: rotate(-45deg) translateY(-50%) translateX(25%);
      transition: all 0.2s ease-in;
    }

    &:not(:checked) + span::after {
      opacity: 0;
    }

    &:checked + span::after {
      opacity: 1;
    }

    &:hover {
      cursor: pointer;

      &:not(:checked) + span::after {
        opacity: 0.3;
      }
    }
  }
}
